name: meta-oe ptest

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to test"
        type: choice
        options:
        - kirkstone
        - walnascar
      arch:
        description: "Arch to test"
        type: choice
        options:
        - qemuarm
        - qemuarm64
        - qemux86
        - qemux86-64

permissions:
  id-token: write
  attestations: write

jobs:
  build-test-image:
    runs-on: [self-hosted]
    container:
      image: skandigraun/yocto:latest
      volumes:
        - cocto:/cocto
    steps:
      - name: Prepare and Build
        run: |
           echo Running configuration: ${{ github.event.inputs.branch }} - ${{ github.event.inputs.arch }}
           cd /cocto/${{ github.event.inputs.branch}}-next
           rm -rf ./meta-openembedded ./poky ./build/conf ./meta-oe-test
           git clone -b stable/${{ github.event.inputs.branch }}-nut https://git.openembedded.org/meta-openembedded-contrib meta-openembedded
           git clone -b ${{ github.event.inputs.branch }} https://git.yoctoproject.org/poky
           git clone https://github.com/OldManYellsAtCloud/meta-oe-test.git
           git -C ./meta-openembedded pull
           git -C ./poky pull
           git -C ./meta-oe-test pull
           echo -n "meta-oe branch: "
           git -C ./meta-openembedded branch
           echo -n "meta-oe revision: "
           git -C ./meta-openembedded log -n 1 --format=oneline
           echo -n "poky branch: "
           git -C ./poky branch
           echo -n "poky revision: "
           git -C ./poky log -n 1 --format=oneline
           echo -n "meta-oe-test branch: "
           git -C ./meta-oe-test branch
           echo -n "meta-oe-test revision: "
           git -C ./meta-oe-test log -n 1 --format=oneline
           cd poky || cd oe-core || cd openembedded-core
           set /cocto/${{ github.event.inputs.branch }}-next/build
           . ./oe-init-build-env
           echo PWD: $(pwd)
           echo "POKY_BBLAYERS_CONF_VERSION = \"2\"" > conf/bblayers.conf
           echo "BBPATH = \"\${TOPDIR}\"" >> conf/bblayers.conf
           echo "BBFILES ?= \"\"" >> conf/bblayers.conf
           echo "BBLAYERS ?= \" \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/poky/meta \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/poky/meta-poky \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-filesystems \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-gnome \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-initramfs \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-multimedia \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-networking \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-oe \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-perl \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-python \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-webserver \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-openembedded/meta-xfce \\" >> conf/bblayers.conf
           echo "/cocto/${{ github.event.inputs.branch }}-next/meta-oe-test \"" >> conf/bblayers.conf
           echo "INHERIT += \"rm_work\"" >> conf/myconf.conf
           echo "BB_NUMBER_THREADS = \"8\"" >> conf/myconf.conf
           echo "PARALLEL_MAKE = \"-j 8\"" >> conf/myconf.conf
           echo "LICENSE_FLAGS_ACCEPTED += \"commercial\"" >> conf/myconf.conf
           echo "FORTRAN:forcevariable = \",fortran\"" >> conf/myconf.conf
           echo "RUNTIMETARGET:append:pn-gcc-runtime = \" libquadmath\"" >> conf/myconf.conf
           echo "DISTRO_FEATURES += \"ptest x11 opengl wayland pulseaudio bluetooth xattr pam\"" >> conf/myconf.conf
           echo "KERNEL_FEATURES:append:pn-linux-yocto = \" features/net/team/team.scc features/overlayfs/overlayfs.scc\"" >> conf/myconf.conf
           echo "ENABLE_BUSYBOX_STATIC = \"1\"" >> conf/myconf.conf
           echo "PACKAGECONFIG:append:pn-ostree = \" static\"" >> conf/myconf.conf
           echo "RDEPENDS:poco-ptest:append = \" mongodb \"" >> conf/myconf.conf
           echo "HOSTTOOLS += \"ip ping\"" >> conf/myconf.conf
           echo "TEST_SUITES = \"ssh ping ptest parselogs\"" >> conf/myconf.conf
           echo "TEST_RUNQEMUPARAMS = \"kvm nographic snapshot\"" >> conf/myconf.conf
           echo "RCONFLICTS:libencode-perl:remove = \"perl-misc perl-module-encode\"" >> conf/myconf.conf
           echo "require myconf.conf" >> conf/local.conf
           echo Content of myconf.conf:
           cat conf/myconf.conf
           MACHINE=${{ github.event.inputs.arch }} bitbake omnitest-image-ptest
           MACHINE=${{ github.event.inputs.arch }} bitbake omnitest-image-ptest-alt
  run-test-image:
    runs-on: [self-hosted]
    needs: build-test-image
    steps:
      - name: Run
        run: |
          cd /cocto/${{ github.event.inputs.branch }}-next
          cd poky || cd oe-core || cd openembedded-core
          set /cocto/${{ github.event.inputs.branch }}-next/build
          . ./oe-init-build-env
          MACHINE=${{ github.event.inputs.arch }} bitbake omnitest-image-ptest -c testimage
          MACHINE=${{ github.event.inputs.arch }} bitbake omnitest-image-ptest-alt -c testimage
      - name: Tar artifacts
        run: tar -cfz /cocto/${{ github.event.inputs.branch }}-next/ptest_logs.tar.gz /cocto/${{ github.event.inputs.branch }}-next/build/tmp/work/qemux86_64-poky-linux/omnitest-image-ptest*/1.0-r0/testimage/ptest_log.*
      - name: Store artifacts
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: /cocto/${{ github.event.inputs.branch }}-next/ptest_logs.tar.gz
